.header-home {
	position: relative;
	height: 620px;
	.fade-slider {
		height: 620px;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		overflow: hidden;
	}
	.slide {
		position: absolute;
		height: 620px;
		width: 100%;
		top: 0; left: 0;
		//@include blur(2px);
		
		.slide-text {
			padding-top: 140px;
			color: #fff;
			text-shadow: 1px 1px 3px #000;
			text-align: right;
		}
		h2 {
			font-size: 48px;
			line-height: 60px;
		}
		h3 {
			font-size: 28px;
			line-height: 32px;
		}
	}
	.fade-slider {
		z-index: 5;
	}
	.form-home {
		z-index: 10;
	}
}

.form-home {
	position: absolute;
	top: 80px; left: 0;
	width: 100%;
	height: 300px;
	.tab-control {border: none;}
	.tab-control li {
		a {
			color: #fff;
			background-color: transparent;
			padding: 20px 42px 18px 42px;
			font-size: 20px;
			font-weight: 300;
			border: none;
			@include transition(background-color 0.3s ease);
			@include border-radius(32px 32px 0 0);
			.ink {
				display: none;
			}
		}
		&.active a {
			color: #000;
			background-color: rgba(#fff, 0.9);
		}
	}
	.tab-content {
		padding: 32px;
		background-color: rgba(#fff, 0.9);
		@include border-radius(0 0 32px 32px);
	}
}