body {
	min-height: 100vh;
	flex-direction: column;
	background-color: #f5f5f5;
	@include flexbox();
	main {
		flex: 1 0 auto;
	}
}
a {
	color: color(orange);
	text-decoration: none;
}
.link {
	background-color: inherit;
	border: none;
	cursor: pointer;
}
p {
	color: color(grey);
}
ul {
	text-align: left;
}

label {
	font-weight: 300;
}

.im-datepicker {
	width: 280px;
}

.icon-circle {
    height: 32px;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
    @include border-radius(50%);
}

.icon-square {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color: $colorPrimary;
	border: 1px solid $colorPrimary;
	@include border-radius(2px);
}

.icons {
	.icon-circle, .icon-square {
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
	}
	.facebook {color: $colorFacebook; border-color: $colorFacebook;}
	.foursquare {color: $colorFoursquare; border-color: $colorFoursquare;}
	.vk {color: $colorVkontakte; border-color: $colorVkontakte;}
	.instagram {color: $colorInstagram; border-color: $colorInstagram;}
	.linkedin {color: $colorLinkedIn; border-color: $colorLinkedIn;}
}

a.phone, a.email {
	display: block;
	color: color(black);
	font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.stars {
	margin-left: $gap;
	color: color(orange);
	i {
		margin-right: 3px;
	}
}
.details {
	margin-top: $gap;
	div {
		margin-bottom: 8px;
		i {
			margin-right: 5px;
		}
	}
}

.rating	{
	border-width: 1px 0;
	color: color(grey);
	text-transform: uppercase;
	font-size: 14px;
	.reviews {
		font-size: 10px;
	}
	.fa-star {
		color: color(light);
		&.active {
			color: color(orange);
		}
	}
}

//black color for all titles
.title a {
	color: color(black);
	@include transition(color 0.3s ease);
	&:hover {
		color: $colorPrimary;
	}
}

.logo img {
	width: 200px;
    margin-top: 6px;
}

.grid-view {
	.summary {
		padding: 8px 0;
	}
}

.datatable {
	th, td {
		padding: 16px;
	}
}


header {
	z-index: 100;
	.top-menu {
		background-color: $colorPrimary;
		text-transform: uppercase;

		a, .link {
			font-size: 12px;
			color: #fff;
		}

		.nav-inline > li {
			> a, .link {
				line-height: 30px;
				@include transition(background-color 0.3s ease);
			}
			&:hover > a, &:hover .link {
				background-color: darken($colorPrimary, 15%);
			}
		}
	}
	.nav-main {
		a {
			color: color(black);
			text-transform: uppercase;
			font-weight: 300;
		}
		.nav-inline > li {
			> a {
				@include transition(background-color 0.3s ease);
			}
			&:hover > a {
				background-color: color(lighten);
			}
			&.active a {
				background-color: rgba($colorPrimary, 0.2);
			}
		}
	}
}



.room, .hotel {
	.price {
		font-size: 20px;
		line-height: 24px;
		color: color(green);
		.currency {
			margin-right: 5px;
		}
		.value {
		
		}
	}
}

.card-box.room {
	.rating {
		margin: 10px 0;
		padding: 5px 0;
		border: 1px solid color(lighten);
		border-width: 1px 0;
		line-height: 15px;
	}
	p {
		margin: 0;
	}
	.title {
		font-size: 20px;
		line-height: 24px;
		padding: 0;
	}
	.description {
		
	}
}
.breadcrumbs {
	li {
		color: rgba(255,255,255,0.7);
		a {
			color: #fff;
		}
	}
}

.page-header {
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
}

.page-hotel {
	.nav-inline.tab-control {
		border-bottom-width: 3px;
		li {
			a {
				padding: 16px 24px;
				font-size: 16px;
				border: none;
			}
			&.active a {
				background-color: $colorPrimary;
				color: #fff;
			}
		}
	}
	.tab-content {
		padding: 32px 0;
	}
	.rating {
		font-size: 22px;
		color: $colorPrimary;
	}
}

.hotels .hotel, .rooms .room {
	overflow: visible;
	margin-bottom: 32px;
	.services {
		.icon-square {
			color: color(grey);
			border-color: color(light);
			@include border-radius(2px);
			@include transition(border-color 0.3s ease, color 0.3s ease);
			&:hover {
				border-color: $colorPrimary;
				color: $colorPrimary;
			}
		}
		.list-item {
			i {margin-right: 10px; color: $colorPrimary;}
			padding: 5px 0;
		}
	}
	.price {
		line-height: 36px;
	}
	.discount {
		background-color: color(orange);
		margin-right: -$gap;
		padding-right: $gap;
		height: 32px;
		line-height: 32px;
		position: relative;
		float: right;
		width: 110px;
		&:before, &:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			border: 16px solid transparent;
		}
		&:before {
			left: 0;
			border-left: 16px solid #fff;
		}
		.value {
			color: #fff;
			text-align: right;
			font-size: 24px;
			span {
				font-size: 16px;
			}
		}
	}
}

.rooms .room {
	.persons {
		float: right;
		color: $colorPrimary;
		line-height: 32px;
	}
	.variant {
		padding: $gap 0;
		border-top: 1px solid color(light);
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.contacts {
	h5 {
		color: $colorPrimary;
		font-weight: 400;
		margin-bottom: 8px;
	}
	.icon-circle {
		background-color: $colorPrimary;
		color: #fff;
		border-color: #fff;
	}
}

.inline-rate {
	margin-bottom: 16px;
	.name {
		color: color(dark);
		height: 16px;
	}
	.rate {
		margin-top: 5px;
		float: left;
		width: 80%;
		height: 10px;
		background-color: #fff;
		border: 1px solid $colorPrimary;
		@include border-radius(2px);
		overflow: hidden;
		span {
			height: 8px;
			display: block;
			background-color: $colorPrimary;
		}
	}
	.value {
		float: left;
		width: 20%;
		text-align: right;
		line-height: 20px;
		font-size: 16px;
		color: $colorPrimary;	
	}
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
