<div class="dropdown-select dropdown">
    <input ng-model="select.selected.value" name="{{name}}" type="hidden">
    <input ng-model="select.selected.text" class="select full toggle" type="text" readonly="" placeholder="{{placeholder}}">
    <div class="collection">
        <div class="input-icon">
            <input ng-model="select.search" class="search" type="text" placeholder="{{splaceholder}}"><i class="fa fa-search"></i>
        </div>
        <ul>
            <li ng-repeat="result in select.results" ng-click="select.choose($index)">{{result.text}}</li>
        </ul>
    </div>
</div>
